<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.johnpersano.supertoasts"
    android:versionCode="16"
    android:versionName="1.3.4" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application/>

</manifest>