<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.johnpersano.supertoasts"
    android:versionCode="13"
    android:versionName="1.3" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application/>

</manifest>